<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SuperT3</title>

    <link rel="stylesheet" href="style.css">
    <style>
        table {
            background-color: var(--text-primary);
        }

        td.mark {
            filter: brightness(1.5);
        }

        td.demark {
            filter: brightness(0.5);
        }

        td.subgame.won {
            position: relative;
        }

        td.subgame.won.x:after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: "\274c";
            font-size: 140px;
            color: #FFF;
            line-height: 174px;
            text-align: center;
        }
        td.subgame.won.o:after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: "\2B55";
            font-size: 140px;
            color: #FFF;
            line-height: 174px;
            text-align: center;
        }

        td.cell {
            width: 50px;
            height: 50px;
            font-size: 30pt;
            text-align: center;

            background-color: var(--bg-primary);
        }

        td.canPlace {
            filter: brightness(1.5);
        }

        .gameStart {
            display: flex;
            gap: 1rem;
        }

        button {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: 1px solid var(--text-secondary);
            background-color: var(--text-primary);
            color: var(--bg-secondary);
            padding: 0.5rem;
            border-radius: 0.5rem;

            cursor: pointer;
            transition: all 250ms ease-in-out;
        }

        button:hover {
            scale: 1.2;
        }

        .status {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }

        .ownColor {
            position: absolute;
            top: 2rem;
            right: 1rem;
        }
    </style>
</head>
<body>
    <main>
        <h1>Super Tic Tac Toe</h1>

        <table class="game">
            <tr>
                <td class="subgame" data-subgame-id="0">
                    <table class="subgame">
                        <tr>
                            <td class="cell" data-subgame-id="0" data-cell-id="0" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="0" data-cell-id="1" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="0" data-cell-id="2" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="0" data-cell-id="3" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="0" data-cell-id="4" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="0" data-cell-id="5" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="0" data-cell-id="6" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="0" data-cell-id="7" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="0" data-cell-id="8" onclick="cellClicked(this)"></td>
                        </tr>
                    </table>
                </td>
                <td class="subgame" data-subgame-id="1">
                    <table class="subgame">
                        <tr>
                            <td class="cell" data-subgame-id="1" data-cell-id="0" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="1" data-cell-id="1" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="1" data-cell-id="2" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="1" data-cell-id="3" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="1" data-cell-id="4" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="1" data-cell-id="5" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="1" data-cell-id="6" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="1" data-cell-id="7" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="1" data-cell-id="8" onclick="cellClicked(this)"></td>
                        </tr>
                    </table>
                </td>
                <td class="subgame" data-subgame-id="2">
                    <table class="subgame">
                        <tr>
                            <td class="cell" data-subgame-id="2" data-cell-id="0" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="2" data-cell-id="1" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="2" data-cell-id="2" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="2" data-cell-id="3" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="2" data-cell-id="4" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="2" data-cell-id="5" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="2" data-cell-id="6" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="2" data-cell-id="7" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="2" data-cell-id="8" onclick="cellClicked(this)"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="subgame" data-subgame-id="3">
                    <table class="subgame">
                        <tr>
                            <td class="cell" data-subgame-id="3" data-cell-id="0" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="3" data-cell-id="1" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="3" data-cell-id="2" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="3" data-cell-id="3" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="3" data-cell-id="4" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="3" data-cell-id="5" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="3" data-cell-id="6" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="3" data-cell-id="7" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="3" data-cell-id="8" onclick="cellClicked(this)"></td>
                        </tr>
                    </table>
                </td>
                <td class="subgame" data-subgame-id="4">
                    <table class="subgame">
                        <tr>
                            <td class="cell" data-subgame-id="4" data-cell-id="0" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="4" data-cell-id="1" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="4" data-cell-id="2" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="4" data-cell-id="3" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="4" data-cell-id="4" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="4" data-cell-id="5" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="4" data-cell-id="6" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="4" data-cell-id="7" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="4" data-cell-id="8" onclick="cellClicked(this)"></td>
                        </tr>
                    </table>
                </td>
                <td class="subgame" data-subgame-id="5">
                    <table class="subgame">
                        <tr>
                            <td class="cell" data-subgame-id="5" data-cell-id="0" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="5" data-cell-id="1" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="5" data-cell-id="2" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="5" data-cell-id="3" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="5" data-cell-id="4" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="5" data-cell-id="5" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="5" data-cell-id="6" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="5" data-cell-id="7" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="5" data-cell-id="8" onclick="cellClicked(this)"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="subgame" data-subgame-id="6">
                    <table class="subgame">
                        <tr>
                            <td class="cell" data-subgame-id="6" data-cell-id="0" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="6" data-cell-id="1" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="6" data-cell-id="2" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="6" data-cell-id="3" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="6" data-cell-id="4" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="6" data-cell-id="5" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="6" data-cell-id="6" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="6" data-cell-id="7" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="6" data-cell-id="8" onclick="cellClicked(this)"></td>
                        </tr>
                    </table>
                </td>
                <td class="subgame" data-subgame-id="7">
                    <table class="subgame">
                        <tr>
                            <td class="cell" data-subgame-id="7" data-cell-id="0" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="7" data-cell-id="1" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="7" data-cell-id="2" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="7" data-cell-id="3" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="7" data-cell-id="4" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="7" data-cell-id="5" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="7" data-cell-id="6" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="7" data-cell-id="7" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="7" data-cell-id="8" onclick="cellClicked(this)"></td>
                        </tr>
                    </table>
                </td>
                <td class="subgame" data-subgame-id="8">
                    <table class="subgame">
                        <tr>
                            <td class="cell" data-subgame-id="8" data-cell-id="0" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="8" data-cell-id="1" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="8" data-cell-id="2" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="8" data-cell-id="3" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="8" data-cell-id="4" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="8" data-cell-id="5" onclick="cellClicked(this)"></td>
                        </tr>
                        <tr>
                            <td class="cell" data-subgame-id="8" data-cell-id="6" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="8" data-cell-id="7" onclick="cellClicked(this)"></td>
                            <td class="cell" data-subgame-id="8" data-cell-id="8" onclick="cellClicked(this)"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


        <div class="gameStart" id="gameStartArea" style="display: none">
            <button onclick="startGame(true)">PvP</button>
            <button onclick="startGame(false)">PvC</button>
        </div>

        <span class="infos" id="infos"></span>

        <span class="status" id="status">Loading</span>

        <span class="ownColor" id="ownColor"></span>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        const uuid = localStorage.getItem("st3-uuid") || crypto.randomUUID()
        localStorage.setItem("st3-uuid", uuid)

        let moves = []
        let wonSubgames = [[], []]
        let opponent = null
        let myColor = null
        let canMove = false
        let currentSubgame = null


        socket.on('gameStart', (game) => {
            if (!game.players.includes(uuid))
                return;

            clearBoard()

            opponent = game.players.find(e => e !== uuid)
            document.getElementById('gameStartArea').style.display = 'none';

            const isX = (game.players.indexOf(uuid) === 0)
            myColor = isX ? 'X' : 'O'

            canMove = isX

            currentSubgame = null
            wonSubgames = [[], []]

            setStatus('Game running')
            document.getElementById('ownColor').innerHTML = `My piece: <b>${myColor}</b>`

            if (canMove)
                markAllLegalMoves()
        })

        socket.on('move', (game) => {
            if (!game.players.includes(uuid))
                return;

            moves = game.moves
            currentSubgame = game.currentSubgame
            wonSubgames = game.wonSubgames

            displayMoves()
            displayWonSubgames()

            canMove = !canMove

            if (canMove)
                markAllLegalMoves()
            else
                demarkAllLegalMoves()
        })

        socket.on('gameover', (game) => {
            if (!game.players.includes(uuid))
                return;

            if (game.result.winner === myColor) {
                setStatus('YOU WON')
                markWinningSequence(game.result.sequence)
            } else if (game.result.winner === 'TIE') {
                setStatus('IT\'S A TIE')
            } else {
                setStatus('YOU LOSE')
                markWinningSequence(game.result.sequence)
            }

            demarkAllLegalMoves()
            canMove = false
            opponent = null
            document.getElementById('gameStartArea').style.display = 'flex';
        })

        function cellClicked(element) {
            const subgame = parseInt(element.dataset['subgame-id'])
            const cell = parseInt(element.dataset['cell-id'])
            const move = `${subgame}${cell}`

            if (canMove && (currentSubgame == null || currentSubgame === subgame) && !moves.includes(move)) {
                socket.emit('move', {uuid: uuid, move: move})
                //demarkAllLegalMoves()
            }
        }

        function startGame(isPVP) {
            if (opponent)
                return;

            socket.emit('start', {isPVP: isPVP, uuid: uuid})
            setStatus('Waiting')
            document.getElementById('gameStartArea').style.display = 'none';
        }

        function setStatus(status) {
            document.getElementById('status').innerText = status
        }

        function displayMoves() {
            moves.forEach((move, idx) => {
                [...document.querySelectorAll('td.cell').values()].find(e => e.dataset['subgame-id'] == move.charAt(0) && e.dataset['cell-id'] == move.charAt(1)).innerText = (idx % 2 === 0) ? 'X' : 'O'
            })
        }

        function displayWonSubgames() {
            wonSubgames.forEach((subgames, idx) => {
                const isX = (idx === 0)

                subgames.forEach((subgame) => {
                    [...document.querySelectorAll('td.subgame').values()].find(e => e.dataset['subgame-id'] == subgame).classList.add('won', isX ? 'x': 'o')
                })
            })
        }

        function markAllLegalMoves() {
            [...document.querySelectorAll('td.cell')]
                .filter(e => parseInt(e.dataset['subgame-id']) === currentSubgame || currentSubgame == null)
                .filter(e => !wonSubgames.flatMap(e => e).includes(e.dataset['subgame-id']))
                .filter(e => e.innerText === '')
                .forEach(e => {
                    e.classList.add('canPlace')
                })


        }

        function demarkAllLegalMoves() {
            [...document.querySelectorAll('td.canPlace')].forEach(e => {
                e.classList.remove('canPlace')
            })
        }

        function markWinningSequence(sequence) {
            const parts = sequence.split('');

            [...document.querySelectorAll('td.subgame')]
                .forEach(e => {
                    if (parts.includes(e.dataset['subgame-id']))
                        e.classList.add('mark')
                    else
                        e.classList.add('demark')
                })
        }

        function clearBoard() {
            [...document.querySelectorAll('td')].forEach(e => {
                e.classList.remove('won', 'x', 'o', 'canPlace', 'mark', 'demark')

                if ([...e.classList].includes('cell'))
                    e.innerText = ''
            })
        }


        window.addEventListener('load', () => {
            socket.emit('check', {uuid: uuid})

            setStatus('Ready')
            document.getElementById('gameStartArea').style.display = 'flex';
        })
    </script>
</body>
</html>